.buttons-top-menu {
  color: var(--bs-gray-600);
}

.buttons-top-menu:hover,
.buttons-top-menu.active {
  color: var(--bs-gray-900);
}

.buttons-top-menu.active {
  border-bottom: 1px solid var(--bs-gray-900);
}