.logo-place-holder {
    align-items: center;
    display: inline-flex;
    gap: 16px;
    height: 56px;
    padding: 0px 8px;
    position: relative;
}

.logo-place-holder .icons-computer {
    height: 40px !important;
    position: relative !important;
    width: 40px !important;
}

.logo-place-holder .logo {
    color: var(--graygray-9);
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 20px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

:root {
    --graygray-1: rgba(248, 249, 250, 1);
    --graygray-2: rgba(233, 236, 239, 1);
    --graygray-3: rgba(222, 226, 230, 1);
    --graygray-4: rgba(206, 212, 218, 1);
    --graygray-5: rgba(173, 181, 189, 1);
    --graygray-6: rgba(108, 117, 125, 1);
    --graygray-7: rgba(73, 80, 87, 1);
    --graygray-8: rgba(52, 58, 64, 1);
    --graygray-9: rgba(33, 37, 41, 1);
}