.navigation-menu {
  position: relative;
}

.navigation-menu .logo-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: #333;
  margin-right: 32px; /* Zastępuje div.margin */
}

.navigation-menu.top {
  align-items: center;
  background-color: var(--graygray-1);
  display: inline-flex;
  padding: 0px 16px;
  width: 100%;
}

:root {
  --graygray-1: rgba(248, 249, 250, 1);
  --graygray-2: rgba(233, 236, 239, 1);
  --graygray-3: rgba(222, 226, 230, 1);
  --graygray-4: rgba(206, 212, 218, 1);
  --graygray-5: rgba(173, 181, 189, 1);
  --graygray-6: rgba(108, 117, 125, 1);
  --graygray-7: rgba(73, 80, 87, 1);
  --graygray-8: rgba(52, 58, 64, 1);
  --graygray-9: rgba(33, 37, 41, 1);
}